<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>check</title>
</head>
<body style="background-color: rgb(248, 210, 210);">
    <h2>want to change secret code ?</h2>
    <form action="/submitChangeSC"method="post">
        <input type="text"name="oldSC"placeholder="old secret code"style="height:20px">
        <input type="text"name="newSC"placeholder="new secret code"style="height:20px">
        <button style="height: 20px;"><b>Change</b></button>
    </form>
</body>
</html>